### Carga del archivo

In [20]:
import pandas as pd 
import os
from IPython.display import display

In [21]:
ruta = r'C:\Users\emlom\OneDrive\Documents\4semestre\4to-Semestre-Ciencia-de-Datos\Bases_de_Datos_Avanzadas\sales_data.csv'
df_sales = pd.read_csv(ruta, encoding='ISO-8859-1')
display(df_sales)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NaN,NYC,NY,10022,United States,NaN,Yu,Kwai
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,6505551386,7734 Strong St.,NaN,San Francisco,CA,NaN,United States,NaN,Brown,Julie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,981-443655,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,61.77.6555,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,6175559555,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri

### Vemos que columans hay

In [22]:
df_sales.iloc[0]

ORDERNUMBER                           10107
QUANTITYORDERED                          30
PRICEEACH                              95.7
ORDERLINENUMBER                           2
SALES                                2871.0
ORDERDATE                    2/24/2003 0:00
STATUS                              Shipped
QTR_ID                                    1
MONTH_ID                                  2
YEAR_ID                                2003
PRODUCTLINE                     Motorcycles
MSRP                                     95
PRODUCTCODE                        S10_1678
CUSTOMERNAME              Land of Toys Inc.
PHONE                            2125557818
ADDRESSLINE1        897 Long Airport Avenue
ADDRESSLINE2                            NaN
CITY                                    NYC
STATE                                    NY
POSTALCODE                            10022
COUNTRY                       United States
TERRITORY                               NaN
CONTACTLASTNAME                          Yu
CONTACTFIRSTNAME                       Kwai
Name: 0, dtype: object

In [23]:
df_sales = df_sales.dropna(subset=['STATE'])
display (df_sales)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NaN,NYC,NY,10022,United States,NaN,Yu,Kwai
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,6505551386,7734 Strong St.,NaN,San Francisco,CA,NaN,United States,NaN,Brown,Julie
5,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,NaN,Burlingame,CA,94217,USA,NaN,Hirano,Juri
8,10201,22,98.57,2,2168.54,12/1/2003 0:00,Shipped,4,12,2003,...,6505555787,5557 North Pendale Street,NaN,San Francisco,CA,NaN,United States,NaN,Murphy,Julie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2809,10248,23,65.52,9,1506.96,5/7/2004 0:00,Cancelled,2,5,2004,...,2125557818,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai
2810,10261,29,50.78,7,1472.62,6/17/2004 0:00,Shipped,2,6,2004,...,(514) 555-8054,43 rue St. Laurent,NaN,Montral,Qubec,H1J 1C3,Canada,NaN,Fresnire,Jean
2812,10283,33,51.32,12,1693.56,8/20/2004 0:00,Shipped,3,8,2004,...,(604) 555-4555,23 Tsawassen Blvd.,NaN,Tsawassen,BC,T2F 8M4,Canada,NaN,Lincoln,Elizabeth
2817,10337,42,97.16,5,4080.72,11/21/2004 0:00,Shipped,4,11,2004,...,2125558493,5905 Pompton St.,Suite 750,NYC,NY,10022,USA,NaN,Hernandez,Maria
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,6175559555,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri

### Guardar en carpeta nueva

In [24]:
carpeta_destino = r'C:\Users\emlom\OneDrive\Documents\4semestre\BASES-DE-DATOS-AVANZADAS\Laboratorio 6\XML-de-sales-data'
ruta_archivo_xml = os.path.join(carpeta_destino, 'sales_data_procesado.xml')
df_sales.to_xml(ruta_archivo_xml, index=False)